.footer {
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footerdesc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gray;
}
.world {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
@media (max-width: 1024px) {
}
@media (max-width: 950px) {
}
@media (max-width: 879px) {
}
@media (max-width: 800px) {
}
@media (max-width: 768px) {
}
@media (max-width: 700px) {
}
@media (max-width: 616px) {
}
@media (max-width: 560px) {
}
@media (max-width: 500px) {
}
@media (max-width: 468px) {
  .footer {
    padding: 1rem;
  }
  .world {
    gap: 0.5rem;
  }
}
@media (max-width: 360px) {
}
@media (max-width: 320px) {
}
@media (max-width: 291px) {
}
