.footer {
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footerdesc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gray;
}
.world {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
